
<div class='eou_widget open' onclick="StrainDetails.toggle(this)">

  <!-- only for interfacing to external GUIs -->
  <div class='external_interface'>
    <div class='id'><%=h id %></div>
    <div class='right_arrow'></div>
  </div>

  <div class='top'>
    <div class='label'>Strain ID: <%= biofab_id %></div>
    <div class='reliability'>
      <div class='label'>Reliability</div>
      <div class='dotgauge'>
        <% reliability.round.times do |i| %>
        <div class='step'>
          <div class='dot filled'></div>
        </div>
        <% end %>
        <% (10 - reliability).round.times do |i| %>
        <div class='step'>
          <div class='dot'></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%
    sd_start = (performance - (performance_deviation / 2.0)) * 100
    sd_width = performance_deviation * 100
  %>
  <div class='eou_performance'>

    <div class='gauge_bar'>
      <div class='gauge_bar_label'>Performance</div>
      <div class='overall' style='left: <%= sd_start %>%; width: <%= sd_width %>%;'>
        <div class='gauge_sd'></div>
        <div class='gauge_pointer'></div>
      </div>
      <div class='promoter' style='left: 72%; width: 11%; display:none'>
        <div class='gauge_sd'></div>
        <div class='gauge_pointer'></div>
      </div>
      <div class='utr' style='left: 94%; width: 7%; display:none'>
        <div class='gauge_sd'></div>
        <div class='gauge_pointer'></div>
      </div>
    </div>

<!--
    <div class='label'>Performance</div>
    <div class='bar'>

      <div class='overall' style='left:<%= sd_start %>%; width:<%= sd_width %>%;'>
        <div class='sd'></div>
        <div class='pointer'></div>
      </div>
      <div class='promoter'>
        <div class='pointer'></div>
      </div>
      <div class='fiveutr'>
        <div class='pointer'></div>
      </div>
    </div>
-->
  <div class='ruler'>
      <% 0.upto(10) do |i| %>
        <% if i == 0 %>
          <div class='tic first'>
        <% elsif i == 10 %>
          <div class='tic last'>
        <% else %>
          <div class='tic'>
        <% end %>
          <div class='tic_label'><%= i*10 %>%</div>
        </div>
      <% end %>
    </div>  
  </div>

  <div class='diagrams'>

    <div class='half_width'>
      <div class='inline_centerwrap_diagram'>
        <%= render :partial => '/parts/diagram', :locals => {:part => promoter, :annotations => promoter.annotations_with_type_recursive('Promoter transcription'), :classes => 'promoter', :performance => promoter_performance} %>
      </div>
    </div>

    <div class='half_width'>
      <div class='inline_centerwrap_diagram'>
        <%= render :partial => '/parts/diagram', :locals => {:part => fpu, :annotations => fpu.annotations_with_part_types_recursive(["SD"]), :classes => 'fpu', :performance => fpu_performance} %>
      </div>
    </div>
  </div>

</div>


