
<ol class='show'>
  <li>
    <div class='key'>BIOFAB ID</div>
    <div class='value'><%= @part.biofab_id %></div>
  </li>
  <li>
    <div class='key'>Part type</div>
    <div class='value'><%= @part.part_type %></div>
  </li>
  <li>
    <div class='key'>Sequence</div>
    <div class='value'><%= @part.sequence %></div>
  </li>
  <li>
    <div class='key'>Description</div>
    <div class='value'><%= @part.description %></div>
  </li>
</ol>


<% if @part.part_type.name == 'Promoter' %>
  <h3>Promoter visualization</h3>
  <%= render :partial => 'diagram', :locals => {:part => @part, :classes => nil} %>
<% else %>
  <h3>unable to visualize part type</h3>
<% end %>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
