
<ol class='show'>
  <li>
    <div class='key'>BIOFAB ID</div>
    <div class='value'><%= @part.biofab_id %></div>
  </li>
  <li>
    <div class='key'>Part type</div>
    <div class='value'><%= @part.part_type %></div>
  </li>
  <li>
    <div class='key'>Sequence</div>
    <div class='value'><%= @part.sequence %></div>
  </li>
  <li>
    <div class='key'>Description</div>
    <div class='value'><%= @part.description %></div>
  </li>
</ol>


<% if @part.annotations.length > 0 %>
  <h3>Part diagram (performance is not real)</h3>

  <%= render :partial => '/parts/diagram', :locals => {:part => @part, :annotations => @part.annotations_with_type_recursive, :performance => 0.5, :classes => ''} %>
<% else %>
  <h3>Part diagram not available: Part has no annotations. </h3>
<% end %>

<div class='links'>
  <%= link_to 'Edit', edit_part_path(@part) %> |
  <%= link_to 'Back', parts_path %>
</div>
