
<h1>Plate layouts </h1>

<h3>Actions</h3>
<ul>
  <li><%= link_to "Generate zip-file with all characterizations", :action => 'download_all_characterizations' %></li>
  <li><%= link_to "Generate zip-file with all performances", :action => 'download_all_performances' %></li>
</ul>

<h3>Your layouts</h3>
<% if @mine.empty? %>
  <p>You don't have any layouts.</p>
<% else %>
  <ul>
    <% @mine.each do |layout| %>
      <li>
        <%= l layout.created_at, :format => :full %> - 
        <% if Plate.where(["plate_layout_id = ?", layout.id]).first %>
          <%= link_to "#{layout.name} (has data)", :action => 'data', :id => layout.id %>
        <% else %>
          <%= link_to layout.name, :action => 'show', :id => layout.id %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'New layout', :action => 'show' %>


<h3>Other layouts</h3>

<% if @others.empty? %>
  <p>No-one else has any layouts.</p>
<% else %>
  <ul>
    <% @others.each do |layout| %>
      <li>
        <%= l layout.created_at, :format => :full %> - 
        <% if Plate.where(["plate_layout_id = ?", layout.id]).first %>
          <%= link_to "#{layout.name} (has data)", :action => 'data', :id => layout.id %>
        <% else %>
          <%= link_to layout.name, :action => 'show', :id => layout.id %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
