



<table cellspacing='0' class='sortable'>
  <thead>
    <tr>
      <th>Show plasmid</th>

      <th>Plasmid BIOFAB ID</th>
      <th>Strain BIOFAB ID</th>
      <th>Strain performance</th>
      <th>Strain performance SD</th>

      <th>5' UTR BIOFAB ID</th>
      <th>5' UTR name</th>
      <th>5' UTR sequence</th>

      <th>CDS BIOFAB ID</th>
      <th>CDS name</th>
      <th>CDS sequence</th>

    </tr>
  </thead>
  <tbody>
  <% @designs.each do |design| %>

    <tr>
      <td><a href='#' onclick="Simple.show_plasmid('/bd_designs/get_plasmid_json', '<%= design.id %>')">plasmid</a></td>

      <td><%= design.plasmid_biofab_id.gsub(/\.0$/, '') %></td>
      <td><%= design.strain_biofab_id.gsub(/\.0$/, '') %></td>
      <td><%= design.fc_average.round(2) %></td>
      <td><%= design.fc_sd.round(2) %></td>

      <td><%= design.fpu_biofab_id %></td>
      <td><%= design.fpu_name %></td>
      <td><%= design.fpu_sequence %></td>


      <td><%= design.cds_biofab_id %></td>
      <td><%= design.cds_name %></td>
      <td><%= design.cds_sequence %></td>

    </tr>

  <% end %>
  </tbody>
</table>
