
<table cellspacing='0' class='sortable'>
  <thead>
    <tr>
      <th>Show plasmid</th>

      <th>Plasmid BIOFAB ID</th>
      <th>Strain BIOFAB ID</th>
      <th>Strain performance</th>
      <th>Strain performance SD</th>
      <th>5' UTR BIOFAB ID</th>
      <th>5' UTR sequence</th>

    </tr>
  </thead>
  <tbody>
  <% @designs.each do |design| %>

    <tr>
      <td><a href='#' onclick="Simple.show_plasmid('/simple/get_plasmid_json', '<%= design.plasmid.id %>')">plasmid</a></td>

      <td><%= design.plasmid_biofab_id.gsub(/\.0$/, '') %></td>
      <td><%= design.strain_biofab_id.gsub(/\.0$/, '') %></td>

      <td><%= (design.fcs == 0) ? "no data" : design.fcs.round(2) %></td>
      <td><%= (design.fcs_sd == 0) ? "no data" : design.fcs_sd.round(2) %></td>

      <td><%= design.biofab_id %></td>
      <td><%= design.sequence %></td>

    </tr>

  <% end %>
  </tbody>
</table>
