<%= semantic_form_for(@user, :url => @user.new_record? ? admin_users_path : admin_user_path(@user)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this userr from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>

    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

  <% end %>

  <% unless @user.new_record? %>
    <%= link_to "Delete this user", admin_user_path(@user), :confirm => "Are you sure you want to delete user '#{@user.email}'?", :method => :delete %>
  <% end %>

  <div class="actions">
    <%= f.buttons %>
  </div>
<% end %>
