<!DOCTYPE html>
<html>
  <head>
    <title>Expression Level Picker</title>

    <!-- dot templates -->
    <script id='histogram_template' type='text/x-dot-template'>
      <div id="{{=it.node_id}}" class='histogram'>
        <div class='histogram_container'>
          <!-- horizontal lines and stuff -->
          <div class='horizontal_lines'></div>
          <!-- histogram for all items -->
          <div id="{{=it.total_histogram_id}}" class='total_histogram_container'></div>
        </div>
        <div class='bar_label_container'>
          <div class='offset'>
          </div>
        </div>
      </div>      
    </script>

    <script id='spinner_pseudo_widget' type='text/x-dot-template'>
      <div class='spinner_container'>
        <div class='spinner'>
          <img src='/assets/spinner.gif' />
          <br />
          Retrieving results.
        </div>
      </div>
    </script>
    <!-- end dot templates -->

    <%= stylesheet_link_tag 'jquery-ui-1.8.16.custom' %>
    <%= stylesheet_link_tag 'bd_designs' %>

    <%= javascript_include_tag 'jquery-1.6.2.min' %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min' %>
    <script type='text/javascript'>
      $.noConflict(); // relinquish jquery control of $ variable
    </script>
    
    <%= javascript_include_tag 'prototype' %>

    <%= javascript_include_tag 'doT' %>
    <%= javascript_include_tag 'Histogram' %>

    <%= javascript_include_tag 'bd_designs' %>

    <script type='text/javascript'>

      function page_init() {

        var bcd_design = BCDDesign.init();
      
        console.log('initialized');
      }

    </script>

    <%= csrf_meta_tags %>    
  </head>
  <body onload='page_init()'>

    <%= yield %>
    
	</body>
</html> 
