<!DOCTYPE html>
<html>
  <head>
    <title>Expression Level Picker</title>

    <!-- dot templates -->
    <script id='histogram_template' type='text/x-dot-template'>
      <div id="{{=it.node_id}}" class='histogram'>
        <div class='histogram_container'>
          <!-- horizontal lines and stuff -->
          <div class='horizontal_lines'></div>
          <!-- histogram for all items -->
          <div id="{{=it.total_histogram_id}}" class='total_histogram_container'></div>
        </div>
        <div class='bar_label_container'>
          <div class='offset'>
          </div>
        </div>
      </div>      
    </script>

    <script id='spinner_pseudo_widget' type='text/x-dot-template'>
      <div class='spinner_container'>
        <div class='spinner'>
          <img src='/assets/spinner.gif' />
          <br />
          Retrieving results.
        </div>
      </div>
    </script>
    <!-- end dot templates -->

    <%= stylesheet_link_tag 'jquery-ui-1.8.16.custom' %>
    <%= stylesheet_link_tag 'bd_designs' %>

    <%= javascript_include_tag 'jquery-1.6.2.min' %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min' %>
    <script type='text/javascript'>
      $.noConflict(); // relinquish jquery control of $ variable
    </script>
    
    <%= javascript_include_tag 'prototype' %>

    <%= javascript_include_tag 'doT' %>
    <%= javascript_include_tag 'Histogram' %>

    <%= javascript_include_tag 'bd_designs' %>

    <script type='text/javascript'>

      function bin_mouseover(node, index, value, error, label) {
        console.log('Over: ' + index + ', ' + value + ', ' + error + ', ' + label);
      }

      function bin_mouseout(node, index, value, error, label) {
        console.log('Over: ' + index + ', ' + value + ', ' + error + ', ' + label);
      }

      function bin_click(node, index, value, error, label) {
        console.log('Over: ' + index + ', ' + value + ', ' + error + ', ' + label);
      }


      function page_init() {

/*
        // random data
        var data_count = 1000;
        var data = [];
        var error_data = [];
        var i;
        for(i=0; i < data_count; i++) {
          data.push(Math.random() * 100);
          error_data.push(Math.random() * 10);
        }
*/

        // random data
        var data_count = 22;
        var data = [];
        var error_data = [];
        var i;
        for(i=0; i < data_count; i++) {
          data.push(Math.random() * 100);
          error_data.push(Math.random() * 10);
        }

        var bar_labels = [
          'GFP',
          'coPMK-36-GFP',
          'coCellulase-36-GFP',
          'PA-36-GFP',
          'sfGFP-36-GFP',
          'RFP-36-GFP',
          'Lacl-36-GFP',
          'TetR-36-GFP',
          'AraC-36-GFP',
          'RFP',
          'coPMK-36-RFP',
          'coCellulase-36-RFP',
          'PA-36-RFP',
          'sfGFP-36-RFP',
          'RFP-36-RFP',
          'Lacl-36-RFP',
          'TetR-36-RFP',
          'AraC-36-RFP'
        ];

        Histogram.init();

        this.constraint_slider = Histogram.create('my_histogram', {
          data_is_bar_heights: true,
          data: data,
          errors: error_data,
          bar_labels: bar_labels,
          bar_spacing: 10,
          histogram_max_height: 'inherit',
          y_axis_max: 'dynamic', // Can also be 'dynamic'. If you specify this, then you _must_not_ have any bins with more entries than y_axis_max. If you do, the widget will exceed histogram_max_height.
          horizontal_lines: true,
          log_scale: false,
          on_mouseover: bin_mouseover,
          on_mouseout: bin_mouseout,
          on_click: bin_click
        });

        console.log(data);

        console.log('initialized');

      }

    </script>

    <%= csrf_meta_tags %>    
  </head>
  <body onload='page_init()'>

    <%= yield %>
    
	</body>
</html> 
