<!DOCTYPE html>
<html>
  <head>
    <title>Slider widget</title>

    <!-- dot templates -->
    <script id='constraint_slider_template' type='text/x-dot-template'>
      <div id="{{=it.node_id}}" class='constraint_slider'>
        <div class='histogram_container'>
          <!-- horizontal lines and stuff -->
          <div class='horizontal_lines'></div>
          <!-- histogram for all items -->
          <div id="{{=it.total_histogram_id}}" class='total_histogram_container'></div>
          <!-- histogram for constrained items only -->
          <div id="{{=it.constrained_histogram_id}}" class='constrained_histogram_container'></div>
        </div>
        <div class='bar_container'>
          <div class='constrained_area'>
            <div class='constrained_hilight'></div>
			      <div class='slider left_slider'>
              <div class='label_container'>
                <div class='angle_line'>
                  <div class='vertical_line'></div>
                  <div class='horizontal_line'></div>
                </div>
                <div class='label'>min</div>
              </div>
            </div>
            <div class='slider right_slider'>
              <div class='label_container'>
                <div class='angle_line'>
                  <div class='vertical_line'></div>
                  <div class='horizontal_line'></div>
                </div>
              </div>
              <div class='label'>max</div>
            </div>
          </div>
        </div>
      </div>      
    </script>

    <%= stylesheet_link_tag 'jquery-ui-1.8.16.custom' %>
    <%= stylesheet_link_tag 'designer' %>

    <%= javascript_include_tag 'jquery-1.6.2.min' %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min' %>
    <script type='text/javascript'>
      $.noConflict(); // relinquish jquery control of $ variable
    </script>
    
    <%= javascript_include_tag 'prototype' %>

    <%= javascript_include_tag 'doT' %>
    <%= javascript_include_tag 'ConstraintSlider' %>

    <%= javascript_include_tag 'designer' %>

    <script type='text/javascript'>

      function move_right_box(e) {
        var container_top = Element.cumulativeOffset('container').top;
        
        var scroll = document.viewport.getScrollOffsets().top;
        var window_height = document.viewport.getDimensions().height;
      
        var top;
        var height;
        if(scroll > container_top) {
          top = scroll - container_top;
          height = window_height;
        } else {
          top = 0;
          height = window_height - container_top + scroll;
        }
        $('right').style.top = top + 'px';
        $('right').style.height = height + 'px';

      }

      function got_results(transport) {
        $('left_content').innerHTML = transport.responseText;
      }
      
      function slider_changed(from, to) {
        console.log('changed: ' + from + ' - ' + to);

        new Ajax.Request('/design_widgets', {
          method: 'get',
          parameters: {
            from: from,
            to: to
          },
          onSuccess: got_results
        });
      }



      function page_init() {

        ConstraintSlider.init();

        console.log('got here');
/*
        var data_count = 1000;
        var data = []
        var i;
        for(i=0; i < data_count; i++) {
          data.push(Math.random() * 10);
        }
*/

        var data = <%= @values_json %>;
      
        var slider = ConstraintSlider.create('dynamic_slider', {
          data: data,
          bin_count: 25,
          histogram_max_height: 60,
          y_axis_max: 'dynamic', // Can also be 'dynamic'. If you specify this, then you _must_not_ have any bins with more entries than y_axis_max. If you do, the widget will exceed histogram_max_height.
          horizontal_lines: true,
          log_scale: true
});
    
        slider.on_change = slider_changed;

        window.onscroll = move_right_box;
        move_right_box();

      }

    </script>

    <%= csrf_meta_tags %>    
  </head>
  <body onload='page_init()'>

    <%= yield %>
    
	</body>
</html> 
