<!DOCTYPE html>
<html>
  <head>
    <title>Expression Level Picker</title>

    <!-- dot templates -->
    <script id='constraint_slider_template' type='text/x-dot-template'>
      <div id="{{=it.node_id}}" class='constraint_slider'>
        <div class='histogram_container'>
          <!-- horizontal lines and stuff -->
          <div class='horizontal_lines'></div>
          <!-- histogram for all items -->
          <div id="{{=it.total_histogram_id}}" class='total_histogram_container'></div>
          <!-- histogram for constrained items only -->
          <div id="{{=it.constrained_histogram_id}}" class='constrained_histogram_container'></div>
        </div>
        <div class='bar_container'>
          <div class='constrained_area'>
            <div class='result_count_container'>
              <div class='result_count'>0</div>
            </div>
            <div class='constrained_hilight'></div>
			      <div class='slider left_slider'>
              <div class='label_container'>
                <div class='angle_line'>
                  <div class='vertical_line'></div>
                  <div class='horizontal_line'></div>
                </div>
                <div class='label'>min</div>
              </div>
            </div>
            <div class='slider right_slider'>
              <div class='label_container'>
                <div class='angle_line'>
                  <div class='vertical_line'></div>
                  <div class='horizontal_line'></div>
                </div>
              </div>
              <div class='label'>max</div>
            </div>
          </div>
        </div>
      </div>      
    </script>

    <script id='eou_template' type='text/x-dot-template'>

    </script>

    <script id='mini_eou_template' type='text/x-dot-template'>

    </script>

    <script id='boxed_spinner_template' type='text/x-dot-template'>
      <div class='boxed_spinner_container'>
        <div class='spinner'>
          <img src='/assets/spinner.gif' />
          <br />
          {{=it.message}}
        </div>
      </div>
    </script>

    <script id='spinner_template' type='text/x-dot-template'>
      <div class='spinner_container'>
        <div class='spinner'>
          <img src='/assets/spinner.gif' />
          <br />
          {{=it.message}}
        </div>
      </div>
    </script>
    <!-- end dot templates -->

    <%= stylesheet_link_tag 'jquery-ui-1.8.16.custom' %>
    <%= stylesheet_link_tag 'designer' %>

    <%= javascript_include_tag 'jquery-1.6.2.min' %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min' %>
    <script type='text/javascript'>
      $.noConflict(); // relinquish jquery control of $ variable
    </script>
    
    <%= javascript_include_tag 'prototype' %>

    <%= javascript_include_tag 'doT' %>
    <%= javascript_include_tag 'ConstraintSlider' %>
    <%= javascript_include_tag 'Overlay' %>
    <%= javascript_include_tag 'FlashWidgets' %>

    <%= javascript_include_tag 'designer' %>

    <script type='text/javascript'>

/*
      function move_right_box(e) {
        var container_top = Element.cumulativeOffset('container').top;
        
        var scroll = document.viewport.getScrollOffsets().top;
        var window_height = document.viewport.getDimensions().height;
      
        var top;
        var height;
        if(scroll > container_top) {
          top = scroll - container_top;
          height = window_height;
        } else {
          top = 0;
          height = window_height - container_top + scroll;
        }
        $('right').style.top = top + 'px';
        $('right').style.height = height + 'px';

      }
*/

      function got_results(transport) {
        $('eou_list').innerHTML = transport.responseText;
      }
      
      function slider_changed(from, to) {
        console.log('changed: ' + from + ' - ' + to);

        new Ajax.Request('/design_widgets', {
          method: 'get',
          parameters: {
            from: from,
            to: to
          },
          onSuccess: got_results
        });
      }


      function page_init() {

/*
        // random data
        var data_count = 1000;
        var data = []
        var i;
        for(i=0; i < data_count; i++) {
          data.push(Math.random() * 10);
        }
*/

        var data = <%= @values_json || 'null' %>;
        Designer.init(data);

        console.log('initalized');                    
         
      }

    </script>

    <%= csrf_meta_tags %>    
  </head>
  <body onload='page_init()'>

    <%= yield %>
    
	</body>
</html> 
